@media (max-width: 768px) {
    .burger-icon {
      display: block;
      font-size: 30px;
    }
    .menu {
      display: flex;
      flex-direction: column;
      
    }
    .content {

      font-size: 10px;
      width: fit-content;
    }
    .icon {
      display: none;
    }
    .search {
        display: none;
   }
    .navbar {
        display: flex;
        width: fit-content;
    }
   
    
  }
  
  @media (max-width: 399px) {
    .cookie_box {
      
      width: fit-content;
    }
  }

  @media (max-width: 1100px) {
    .contact-box {
      display: none;
    }

    .map-box {
      display: none;
    }
  }
  @media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
      font-size: 11px;
    }
  }
 


  @media screen and (max-width: 1200px){

    .section-5-h4, .li-list-wrapper{
      margin-top: 20px;
      padding-bottom: 20px;
    }
    .li-list-wrapper{
      margin-right: 10px;
    }
    .svgs{
      width: 90px;
    }
  }
  @media screen and (max-width: 950px) {
      .section-5{
      height: 200px;
    }
    .li-block,
    .button-1,
    .logo-div {
      display: none;
    }
    .burger {
      display: block;
    }
    .header-div {
      height: 60px;
    }
  
    .hamburger {
      position: fixed;
      z-index: 100;
      top: 1rem;
      right: 1rem;
      padding: 2px;
      border: black solid 1px;
      background: white;
      cursor: pointer;
    }
    .closeIcon {
      display: none;
    }
    .menu {
      position: fixed;
      -webkit-transform: translateY(-100%);
          -ms-transform: translateY(-100%);
              transform: translateY(-100%);
      -webkit-transition: -webkit-transform 0.2s;
      transition: -webkit-transform 0.2s;
      -o-transition: transform 0.2s;
      transition: transform 0.2s;
      transition: transform 0.2s, -webkit-transform 0.2s;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 99;
      background: white;
      color: white;
      padding-top: 4rem;
    }
    .showMenu {
      -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
              transform: translateY(0);
    }
    .li-burger {
      margin-left: 15px;
    }
    .burger-li {
      color: black;
      font-size: 22px;
      font-family: "Proxima";
      -webkit-transition: 0.15s;
      -o-transition: 0.15s;
      transition: 0.15s;
      padding-bottom: 15px;
    }
    .logo2 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
    .logo-div {
      padding: 0;
      padding-bottom: 15px;
    }
    .section-2 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 95%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-top: 20px;
    }
    .section-2-div {
      margin: auto;
    }
    .section-3 {
      display: block;
      margin: 0%;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
    .section-3-wrapper,
    .section-3-wrapper-2 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    .section-3-div {
      margin: auto;
    }
    .section-5 {
  
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    .section-5-h4 {
      padding-top: 15px;
    }
    .info-box {
      -webkit-transform: scale(0.7);
          -ms-transform: scale(0.7);
              transform: scale(0.7);
    }
    #list1 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    .font {
      padding-top: 20px;
    }
  
  }
  @media screen and (max-width: 550px) {
    .section-5{
          height: 320px;
    }
    .section-3-div {
      -webkit-transform: scale(0.6);
          -ms-transform: scale(0.6);
              transform: scale(0.6);
    }
    .ul-div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding-bottom: 15px;
    }
    .wrapper{
      transform: scale(0.8);
    }
  }
  